{% extends "base3.html" %}
{% block head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
    	* { font: 17px Calibri; } 
        table { width: 70%; }
        table, th, td { border: solid 1px #DDD;
            border-collapse: collapse; padding: 2px 3px; text-align: center;
        }
    </style>


{% endblock %}
{% block body %}

<br>
<h1 style="text-align: center;color:gold;font-size:large;"><b>Diagnostics</b></h1>

<table class="table table-bordered table-dark" style="width:90%; margin-left:100px ;">
    <thead>
      <tr>
        <th scope="col">Patient Id</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col" >Address</th>
        <th scope="col">Date of Joining</th>
        <th scope="col">Type of room</th>
      </tr>
    </thead>
    <tbody>
    {% for i in detail %}
      <tr class="bg-success">
        <th scope="row">{{i[1]}}</th>
        <td>{{i[2]}}</td>
        <td>{{i[3]}}</td>
        <td>{{i[4]}}</td>
        <td>{{i[5]}}</td>
        <td>{{i[6]}}</td>
      </tr>
    {% endfor %}
    </tbody>
</table>
<h1 style="text-align: center;color:gold ; font-size:large;"><b>Diagnostics Conducted</b></h1>

<table class="table table-bordered table-dark" style="width:90%; margin-left:100px ;">
    <thead>
      <tr>
        <th scope="col">Name of the Test</th>
        
        <th scope="col" >Amount</th>
      </tr>
    </thead>
    <tbody>
    {% for i in info %}
      <tr class="bg-success">
        <th scope="row">{{i[1]}}</th>
        <td>Rs.{{i[2]}}</td>
      </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<br>
<button type="button" class="btn btn-warning " style="margin-left:700px;">Add Diagnostics</button>
<form action="/add_diagnostics" method='post'>
    <div class="row" style="margin-left: 80px;">
        <div class="col-25">
            <label for="name" ><b>Name of the test</b></label>
        </div>
        <br>
        <div class="col-75" style="margin-left: 22px;" >
         <input style="width:240px;"  type="text" id="name" name="name" placeholder="name" required>
        </div>
    </div>
    
    <div class="row" style="margin-left: 80px;">
        <div class="col-25">
            <label for="pt_id" ><b>Patient Id</b></label>
        </div>
        <br>
        <div class="col-75" style="margin-left: 20px;" >
         <input style="width:240px;"  type="number" id="pt_id" name="ID" value="{{detail[0][1]}}" readonly>
        </div>
    </div>
   
    <input type="submit" value="ADD" style="margin-left: 80px;" >
</form>
<br>

<table class="table table-bordered table-dark" style="width:90%; margin-left:100px ;">
    <thead>
      <tr>
        <th scope="col">Name of the Test</th>
        
        <th scope="col" >Amount</th>
      </tr>
    </thead>
    <tbody>
   
      <tr class="bg-danger">
        {% for i in add %}
        <th scope="row">{{i[1]}}</th>
        <td>Rs. {{i[2]}}</td>
        {% endfor %}
      </tr>
    
    </tbody>
</table>
<a href="/patient_search2"><input type="submit" class="btn btn-warning " style="margin-left:700px;" value="Done"></a>
<br>
<br>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


{% endblock %}